<<<<<<< Updated upstream
body {
    font-family: Arial, sans-serif;
    background-color: rgba(137, 43, 226, 0.326);
  }
  .container{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(221, 19, 59, 0.326);

  }
  h1 {
    text-align: center;
  }
  
  form, #transaction-list, #balance {
    margin: 20px auto;
    max-width: 400px;
  }
  
  input, select, button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
  
  button {
    padding: 10px;
  }
  
  #transaction-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .income {
    color: green;
  }
  
  .expense {
    color: red;
  }
  
=======
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

.form-container {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.transactions-container,
.balance-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.transactions-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.transactions-container li {
  margin-bottom: 5px;
}

.balance-container h2 {
  margin-top: 0;
}
>>>>>>> Stashed changes
